#about {
  height:600px;
  background-color: black;
}


#header {
  height:50px;
  background-color: black;
}

#header1 {
  margin: auto;
  font-weight: bold;
  padding: 5px;
  min-height: 75px;
  overflow:hidden;
  background-color: black;
}



#mapdiv {
  height:500px;
  background-color: blue;
}



#side_panel {
  height:500px;
  background-color: black;
}

#side_panel_2 {
  height:500px;
  background-color: black;
}

#footer{
  height: 120px;
  background-color: black;
}
.btn {
  color: white;
}

.btn-primary{
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image{
  height: 140px;
  background-color: black;
}

.text-center{
  color: white;
}

.vertcenter {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.general_body {
  height:600px;
  background-color: blue;
}
